@{
    ViewBag.Title = "Workspace";
}

<h2>Workspace</h2>

<table>
    <tr>
        <td>
            <div id="sqlEditor">select name from userprofile</div>
        </td>
        <td style="align-content: space-around">
            <button class="btn btn-primary" type="button" id="convert" onclick=" sqlProcessor() ">Convert>></button>
        </td>
        <td>
            <div id="elasticEditor"></div>
        </td>
    </tr>
</table>

<script src="~/Scripts/ace/src/ace.js" type="text/javascript" charset="utf-8"></script>


<script>

</script>

<script src="~/Scripts/LanguageProcessor/SqlProcessor.js" type="text/javascript" charset="utf-8"></script>