@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SQL to Elastic Bridge</h1>
    <p class="lead">SQL to Elastic Bridge is a web component which is used to convert SQL queries into Elasticsearch queries.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started with Elasticsearch</h2>
        <p>
            Elasticsearch is a highly scalable open-source full-text search and analytics engine. It allows you to store, search, and analyze big volumes of data quickly and in near real time.
        </p>
        <p><a class="btn btn-default" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started.html">For more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more insight on project code</h2>
        <p>We have used Github to maintain our project sources, and repository is controlled using Git version control system</p>
        <p><a class="btn btn-default" href="https://github.com/PandiyanCool/ElasticBridge">View Repository &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>For a quick preview to users, we have used git page generator to publish sites with minimal features in internet.</p>
        <p><a class="btn btn-default" href="http://pandiyancool.github.io/ElasticBridge">View minimal page &raquo;</a></p>
    </div>
</div>